<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# MY First Notebook
### My name is Hassan Raza. Doing IBM Tools for Data Science Course. And my LinkedIn username is https://www.linkedin.com/in/xassanraza/.

## Data science libraries
#### 1. NumPy
#### 2. Pandas
#### 3. Matplotlib
#### 4. Seaborn
#### 5. Scikit-learn
#### 6. TensorFlow
#### 7. Keras
#### 8. PyTorch
#### 9. SciPy

## Data science tools
#### 1. Jupyter Notebooks
#### 2. RStudio
#### 3. Anaconda
#### 4. Watson Studio
#### 5. SIBM Cognos Dashboard Embedded
#### 6. Apache Hadoop
#### 7. Apache Spark
#### 8. Apache Kafka
#### 9. Tableau
#### 10. Power BI
#### 11. KNIME
#### 12. DataRobot
#### 13. Amazon Web Services

## Introducing arithmetic expression example

In [1]:
a = 2
b = 4

c = a+b
d = a*b

print(c)
print(d)

6
8

## Convert minutes to hours

In [3]:
minutes = 240
hours=minutes/60

print(hours)

4.0

## list Objectives
#### To fimilar with jupyter notebook and with data science tools and libraries.

## Authorâ€™s name
#### Hassan Raza
#### LinkedIn username is https://www.linkedin.com/in/xassanraza/.